.login {
  display: flex;
  width: 100%;

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 50%;

    @media (max-width: 1024px) {
      display: none;
    }

  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @media (max-width: 1024px) {
      height: 100vh;
      width: 100%;
    }

    @media (max-width: 768px) {
      padding: 0 24px;
    }
  }

  &__signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 400px;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;
    }

    label {
      color: var(--dark-10);
      font-size: 18px;
      font-weight: 400;
      line-height: 19.58px;
      margin-bottom: 12px;
      text-align: left;
    }
  }

  &__welcome {
    color: var(--dark-10);
    font-size: 20px;
    font-weight: 500;
    line-height: 21.76px;
    margin-bottom: 12px;
    text-align: left;

    @media (max-width: 768px) {
      margin-bottom: 8px;
      font-size: 16px;

    }
  }

  &__title {
    color: var(--dark-10);
    font-size: 32px;
    font-weight: 600;
    line-height: 34.82px;
    margin-bottom: 40px;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 24px;

    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__emailInput {
    margin-bottom: 32px;
  }

  &__passwordInput {
    margin-bottom: 24px;
  }

  &__remember {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  &__rememberContainer {
    display: flex;
    gap: 12px;
  }

  &__inputRadio {
    border: 1px solid var(--dark-30);
    height: 16px;
    width: 16px;
  }

  &__rememberMe {
    color: 1px solid var(--dark-10);
    font-size: 16px;
    font-weight: 500;
    line-height: 17.41px;
    text-align: left;

    @media (max-width: 768px) {
      font-size: 14px;
      font-weight: 500;
      line-height: 15.23px;
      text-align: left;
    }
  }

  &__forget {
    color: var(--brand-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 17.41px;
    text-decoration: none;
    text-align: right;

    @media (max-width: 768px) {
      font-family: Archivo;
      font-size: 14px;
      font-weight: 500;
      line-height: 15.23px;
      text-align: right;

    }
  }

  &__enter {
    border: 0;
    background: var(--brand-color);
    border-radius: 4px;
    color: var(--dark-50);
    cursor: pointer;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.58px;
    margin-bottom: 24px;
    padding: 16px 0px 16px 0px;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 16px;
      font-weight: 600;
      line-height: 17.41px;
      text-align: center;

    }
  }

  &__google {
    align-items: center;
    background: var(--dark-10);
    border-radius: 4px;
    border: 0;
    color: var(--dark-50);
    cursor: pointer;
    display: flex;
    gap: 12px;
    font-size: 18px;
    font-weight: 600;
    line-height: 19.58px;
    justify-content: center;
    height: 52px;
    margin-bottom: 64px;

    @media (max-width: 768px) {
      font-size: 16px;
      font-weight: 600;
      line-height: 17.41px;
      text-align: center;
    }
  }

  &__noAccount {
    color: var(--dark-10);
    font-size: 20px;
    font-weight: 500;
    line-height: 21.76px;
    text-align: center;

    @media (max-width: 768px) {
      font-family: Archivo;
      font-size: 16px;
      font-weight: 500;
      line-height: 17.41px;
      text-align: center;

    }

    a {
      color: var(--brand-color);
      text-decoration: none;

    }

  }
}