@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --brand-color: #1E9E6A;
  --dark-10: #1A202C;
  --dark-20: #656769;
  --dark-30: #E8E8E8;
  --dark-40: #F7FAFC;
  --dark-50: #FFFFFF;
  --archivo: "Archivo"
}

* {
  font-family: var(--archivo), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  background: linear-gradient(to right, #F3FFF2 50%, #FFFFFF 50%);
  font-family: var(--archivo), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
  margin: 0;

  @media (max-width: 1024px) {
    background: #FFF;
  }

  input[type="email"],
  input[type="password"] {
    background-color: #F7FAFC;
    max-width: 400px;
    width: 100%;
    padding: 16px 0px 16px 16px;
    border-radius: 4px;
    border: 1px solid #E8E8E8;

    @media (max-width: 768px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 15.23px;
      text-align: left;
    }

    &::placeholder {
      color: var(--dark-20);
      font-size: 16px;
      font-weight: 400;
      line-height: 17.41px;
      text-align: left;

    }


  }
}